body{
	font-family:helvetica!important;
	text-align:center;
	background-color:white;
	transition: background-color 0.1s linear;
}

body #tardisLight{
	display:none;
}

#main{
	margin:0 auto;
	margin-top:15vh;
	padding:20px;
}

h1{
	font-size:650%!important;
	margin-top:0;
	color:#333;
	margin-bottom:0!important;
	font-weight:bold!important;
}

@media only screen and (max-width: 600px) {
  h1{
		font-size:450%!important;
	}
}

h2{
	color:#999;
	font-weight:normal;
}

a, .sep{
	color:#555!important;
	text-decoration:none;
	font-size:90%;
}

hr{
	border:0.1px solid hsl(0, 0%, 95%);
}

label{
	font-size:90%;
}

/* ----- Section stuff ----- */

.section{
	border-radius:4px;
	border:1px solid #eee;
	margin-top:25px;
	max-width:900px;
	margin:0 auto;
	margin-top:25px;
}

.section h3{
	margin-top:0;
	padding:10px;
	font-weight:normal;
	font-size:100%;
	color:rgba(0, 0, 0, 0.6);
}

.section-header{
	background-color:hsl(0, 0%, 90%);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.section-content{
	padding:25px;
	background-color:white;
}

.section-content h4{
	font-weight:normal;
}

.section-content a, .section-content span{
	font-size:90%;
}

.section-content span{
	color:hsl(0, 0%, 40%);
}

.section-content a:hover{
	border-bottom:1px solid #ccc;
}

.section-content a{
	color:hsl(0, 0%, 20%);
}

.sub-section{
	margin-bottom:15px;
}

.section-close-link{
	padding:10px;
}

/* ----- Option stuff ----- */

.sep{
	color:#ccc;
}

/* ------- Death Star ------- */

.dark-mode-transition{
	transition: background-color 0.1s linear;
}

.dark-mode{
	background-color:#333;
	transition: background-color 0.1s linear;
}

.dark-mode h1{
	color:hsl(0, 0%, 65%);
}

.dark-mode h2{
	color:hsl(0, 0%, 45%);
}

.dark-mode a{
	color:hsl(0, 0%, 40%);
}

.dark-mode .sep{
	color:hsl(0, 0%, 30%);
}

/* ------- Doctor who ------- */

.dw{
	transition: background-color 0.1s linear;
	background-color:#1F2D50;
	background:url('dw.jpg');
}

.dw h1{
	color:#3B4666;
}

#main{
	background-size: 100% 100%;
}

/* ------- 2000s mode ------ */
.cs{
	background-color:lime;
	font-family:comic sans ms;
}

.cs h1{
	color:red;
}

.cs h2{
	color:blue;
}

/* ------- Hacker mode ------- */
.hm{
	background-color:black;
	font-family:Courier New, sans-serif;
}

.hm a{
	color:lime;
}

.sep{
	color:hsl(0, 0%, 30%);
}

/* ------ Blue Mode ------ */

.bm{
	background-color:#1F2D50;
}

.bm h1{
	color: hsl(0, 0%, 70%);
}

/* -------- Utilities -------- */

.text-left{
	text-align:left;
}

.hide{
	display:none;
}

.border-bottom{
	border-bottom: 1px solid rgba(20, 20, 20, 0.1);
	padding-bottom:5px;
}

.inline{
	display:inline;
}

.nsfw{
	color:red;
}

.m-t-0{
	margin-top:0px!important;
}

.m-b-0{
	margin-bottom:0!important;
}

.m-t-15{
	margin-top:15px!important;
}

.m-b-15{
	margin-bottom:15px!important;
}
